.main-nav {
	background: #E7E6E6;
	color: #255B4F;
	font-size: 2em;
    display: inline-block;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 999;
    text-align: right;

	a {
		color: #255B4F;
		margin-right: 50px;
	}

	li {
		display: inline-block;
		list-style-type: none;
	}

	@media #{$small-only} {
		display: none;
	}
}

#homepage-hero, .page-header {
	background: #5A845A;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	height: 100%;

	h1 {
		font-size: 6em;
		color: #AEB8A0;
		font-weight: 500;
		margin-bottom: 0px;
		line-height: 100%;
		text-align: center;

		@media #{$small-only} {
			font-size: 4em;
		}
	}
}

.page-header {
    background: #5A845A;
    height: 300px;
    padding-top: 92px;

    h1 {
        font-size: 4em;
    }
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}

#main-pic {
    border-radius: 50%;
    width: 260px;
    height: 260px;
    background-image: url('http://placekitten.com/g/200/300');
    background-size: cover;
    box-sizing: padding-box;
    margin: 0px auto 30px;

	@media #{$small-only} {
		width: 200px;
		height: 200px;
	}
}

#hero-title {
	margin: 20px auto;
	background: #5A845A;
	padding: 20px 0;
	text-align: center;
	max-width: 300px;
	font-size: 1.3em;
	color: #255B4F;
	border: 5px solid #255B4F;

	@media #{$small-only} {

	}
}

.content-title {
	margin: 20px auto;
	padding: 20px 0;
	text-align: center;
	width: 60%;
	font-size: 1.3em;
	color: #5A845A;
	border: 5px solid #5A845A;

	@media #{$small-only} {
		width: 75%;
		font-size: 1.2em;
	}
}

.content, footer {
	padding: 75px 0;
	background: #fff;
	text-align: center;

	h2	{
		padding: 0;
		margin: 0;
	}

	p {
		font-size:1.4em;

		@media #{$small-only} {
			font-size: 1.1em;
		}
	}

	@media #{$small-only} {
		padding: 50px 0;
	}
}

footer {
	background: #8BA08B;
}

#skills {
	background: #F1F0F0;
	text-align: left;
	padding: 75px 0;

}

.skill-wrapper {
	padding-bottom: 20px;

    h3 {
        font-size: 1.4em;
    }
}

.progress-bar {
	text-align: left;
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 100%!important;
    margin: 10px 0;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
}

.blue span {
    background-color: #34c2e3;
}

.orange span {
      background-color: #fecf23;
      background-image: linear-gradient(top, #fecf23, #fd9215);
}

.green span {
      background-color: #a5df41;
      background-image: linear-gradient(top, #a5df41, #4ca916);
}


//gallery


.row > .gallery-wrapper {
	//width: 750px !important;
	margin: 0 auto;

	@media #{$medium-only} {
		//width: 650px !important;
	}

	@media #{$small-only} {
		width: 300px !important;
	}
}

.project {
    position: relative;
    display: inline-block;
	width: 245px;
	height: 180px;
	margin: 10px;
	position: relative;
	overflow: hidden;
    background: none no-repeat scroll center center / cover #FFF;
    border: 3px solid #8BA08B;

	@media #{$medium-only} {
		width: 190px;
		height: 190px;
	}

	@media #{$small-only} {
		width: 80%;
		height: 150px;
        margin: 0 0 10px;
	}

	img {
	  display: block;
	  margin: 0;
	  padding: 0;
	  max-width: 100%;
	  height: auto;
	}
}

.ajb {
    background: url('../img/projects/ajbtimber.jpg');
}

.project-hover-text {
    opacity: 0;
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
    border: 3px solid #8BA08B;

    h4 {
        font-size: 30px;
        color: #fff;
        margin-top: 17%;
    }

    a {
        width: 50%;
        display: inline-block;
        color: white;
        padding: 10px;
        background: #5A845A;
        transition: border-radius  .5s;

        &:hover {
            transition: border-radius  .5s;
            border-radius: 10px;
        }
    }
}

footer {
	img {
		width: 50px;
		height: 50px;
	}

	ul {
		list-style-type:none;
        margin-bottom: 0;
	}

}

